<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TicketManager.My.MySettings.filmdataConnectionString"
            connectionString="server=103.27.76.66;user id=sau;password=password;persistsecurityinfo=True;database=filmdata"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
</configuration>
